.background {
    padding : 20px;
    margin : auto;
    width : 70%;
    height : 100%;
    background-color : rgb(186,197,216);
  }
  
  .layout_table {
    margin : auto;
    width : 1000px;
    height : 1500px;
    background-color : white;
    border-radius : 15px;
    border-collapse: collapse; 
  }

  .wrap {
    margin-top : 20px;
    margin-bottom : 20px;
  }
  
  td > div {
    margin : 20px;
  }

  .header {
    height : 10%;
    text-align: center;
  }

  .title-cell {
    border-bottom: 3px black;
    border-bottom-style : double;
    border-radius : 15px;
  }

  .title {
    font-size : 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .upper-1 {
    height : 15%;
  }
  .upper-2 {
    height : 15%;
  }

  .middle {
    height : 40%;
  }

  .lower {
    height : 20%;
  }

  .intro {
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .choropleth_map {
    text-align: center;
  }

  .heat_map {
    text-align: center;
  }

  .line_chart {
    text-align: center;
  }

  .bar_chart {
    width : 80%;
  }

  .outro {
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }